
  
   .col-2{
    position: fixed;
    left: 0;
     background-color:  #ff1744;
     color: white;
     height: 100%;
     overflow-y: hidden;
   }
   .col-2 a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
 
   a:hover:not(.active) {
    background-color:  white;
    color:#ff1744;
  }

  