.container-fluid{
    min-height: 80%;
    width: 100%;
    margin: 10px;
    background-color: #fff;
    font-size: 10px;
}
.row{
   text-align: center;  
}
.col-10{
    margin-top: 15px;
}
.btn{
    width: 100%;
    margin-right: 5px;
    margin-top: 15px;
    border-radius: 50px;
}

.header{
    width: 100%;
    background-color:  #2874f0;
    color: white;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
.container-info{
    margin: 0px;
    background-color: #2874f0;
    width: 100%;
    align-items: center;
}
.pagination{
   margin-top: 0px; 
}