.container{
    height: 600px;
    background-color: #f0f0f0f0;
}
.header-section{
    margin-top: 50px;
    margin-left: 45%;
    width: 100%;
}
.body-section{
    margin: 10px;
    padding: 10px;
}
.header{
    width: 100%;
    background-color:  #2874f0;
    color: white;
}
.heading{
   display: inline-block;
   font-family: 'Courier New', Courier, monospace;
}
.subHeading{
    display: inline-block;
    margin-left: 30%;
    margin-top: 20px;
}
